---
import Base from "@layouts/Base.astro";
---

<Base>
    <div class="max-w-screen-xl mx-auto flex flex-wrap py-6">
        <aside class="w-full md:w-1/3 flex flex-col items-center px-3">
            <ul class="steps steps-vertical">
                <li class="step step-primary">Register</li>
                <li class="step step-primary">Choose plan</li>
                <li class="step">Purchase</li>
                <li class="step">Receive Product</li>
            </ul>
        </aside>
        <!-- Posts Section -->
        <section class="w-full md:w-2/3 flex flex-col px-3">
  
            <!-- Article Image -->
            <img
                src="https://source.unsplash.com/collection/1346951/1000x500?sig=1"
            />
        </section>
    </div>
</Base>
