---
import { Icon } from "astro-icon/components";
---

<footer
    class="p-10 bg-neutral text-neutral-content "
>
    <div class="footer max-w-screen-xl mx-auto">
        <aside>
            <p>DashGL Project<br />Making stupid tutorials since 2016</p>
        </aside>
        <nav>
            <h6 class="footer-title text-accent-content">Social</h6>
            <div class="grid grid-flow-col gap-4">
                <a class="link link-accent"
                    ><Icon name="mdi:youtube" width={24} height={24} /></a
                >
                <a class="link link-accent"
                    ><Icon name="mdi:twitter" width={24} height={24} /></a
                >
                <a class="link link-accent"
                    ><Icon name="mdi:reddit" width={24} height={24} /></a
                >
                <a class="link link-accent"
                    ><Icon name="mdi:patreon" width={24} height={24} /></a
                >
                <a class="link link-accent"
                    ><Icon name="mdi:mastodon" width={24} height={24} /></a
                >
                <a class="link link-accent"
                    ><Icon name="mdi:gmail" width={24} height={24} /></a
                >
                <a class="link link-accent"
                    ><Icon name="mdi:github" width={24} height={24} /></a
                >
            </div>
        </nav>
    </div>
</footer>
