---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
const posts = (await getCollection("blog")).sort(
    (a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf(),
);
console.log("gridd");
console.log(posts);
---

<ul
    role="list"
    class="grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 max-w-screen-xl mx-auto py-8"
>
    {
        posts.map((post) => (
            <div class="card w-96 bg-base-100 shadow-lg mx-auto">
                <figure>
                    <Image src={post.data.thumbnail} alt="something" />
                </figure>
                <div class="card-body">
                    <h2 class="card-title">{post.data.title}</h2>
                    <p>{post.data.description}</p>
                    <div class="card-actions justify-end">
                        <a href={`/blog/${post.slug}`}>
                            <span class="btn btn-primary">Read Now</span>
                        </a>
                    </div>
                </div>
            </div>
        ))
    }
</ul>
