---
import Link from "@components/Link.astro";
---

<nav class="bg-base-200 text-base-content shadow">
    <div class="navbar max-w-screen-xl mx-auto">
        <div class="navbar-start">
            <div class="dropdown">
                <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        class="h-5 w-5"
                        fill="none"
                        viewBox="0 0 24 24"
                        stroke="currentColor"
                        ><path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2"
                            d="M4 6h16M4 12h8m-8 6h16"></path></svg
                    >
                </div>
                <ul
                    tabindex="0"
                    class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52"
                >
                    <li><Link href="/">Home</Link></li>
                    <li>
                        <Link href="/blog">Blog</Link>
                    </li>
                    <li>
                        <span>Story</span>
                        <ul class="p-2">
                            <li>
                                <Link href="/story/prologue">Prologue</Link>
                            </li>
                            <li>
                                <Link href="/story/forward">Forward</Link>
                            </li>
                            <li>
                                <Link href="/story/brickout">Brickout</Link>
                            </li>
                            <li>
                                <Link href="/story/snake">Snake</Link>
                            </li>
                            <li>
                                <Link href="/story/tetris">Tetris</Link>
                            </li>
                            <li>
                                <Link href="/story/invaders">Invaders</Link>
                            </li>
                            <li>
                                <Link href="/story/astroids">Astroids</Link>
                            </li>
                            <li>
                                <Link href="/story/flappy">Flappy Bird</Link>
                            </li>
                            <li>
                                <Link href="/story/epilogue">Epilogue</Link>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <Link href="/story/about">About</Link>
                    </li>
                </ul>
            </div>
            <h1><a class="text-xl">DashGL</a></h1>
        </div>
        <div class="navbar-end hidden lg:flex">
            <ul class="menu menu-horizontal px-1 z-30">
                <li>
                    <Link href="/">Home</Link>
                </li>
                <li><Link href="/blog">Blog</Link></li>
                <li>
                    <details>
                        <summary>Story</summary>
                        <ul class="p-2">
                            <li>
                                <Link href="/story/prologue">Prologue</Link>
                            </li>
                            <li>
                                <Link href="/story/forward">Forward</Link>
                            </li>
                            <li>
                                <Link href="/story/brickout">Brickout</Link>
                            </li>
                            <li>
                                <Link href="/story/snake">Snake</Link>
                            </li>
                            <li>
                                <Link href="/story/tetris">Tetris</Link>
                            </li>
                            <li>
                                <Link href="/story/invaders">Invaders</Link>
                            </li>
                            <li>
                                <Link href="/story/astroids">Astroids</Link>
                            </li>
                            <li>
                                <Link href="/story/flappy">Flappy Bird</Link>
                            </li>
                            <li>
                                <Link href="/story/epilogue">Epilogue</Link>
                            </li>
                        </ul>
                    </details>
                </li>
                <li><Link href="/about">About</Link></li>
            </ul>
        </div>
    </div>
</nav>
