<aside aria-label="Related articles" class="py-8 lg:py-24">
    <div class="px-4 mx-auto max-w-screen-xl">
        <h2
            class="mb-6 lg:mb-8 text-2xl font-bold"
        >
            Related articles
        </h2>
        <div class="grid gap-x-4 gap-y-10 md:grid-cols-2 lg:grid-cols-3">
            <!-- Card 1 -->
            <a
                class="rounded-box group relative flex flex-col gap-6 overflow-hidden p-4"
                href="/resources/videos/i-found-the-perfect-component-library-tzboo97urws"
                ><figure
                    class="rounded-btn grid aspect-video place-content-center overflow-hidden shadow-sm transition-all duration-300 group-hover:scale-[1.02] group-hover:shadow-lg"
                >
                    <img
                        loading="lazy"
                        src="https://i.ytimg.com/vi/tZbOO97urWs/hqdefault.jpg"
                        alt="I Found the Perfect Component Library"
                        class="w-full"
                    />
                </figure>
                <div class="flex items-center justify-between gap-4">
                    <div class="grow">
                        <h2 class="font-bold">
                            I Found the Perfect Component Library
                        </h2>
                        <p class="text-base-content/70 text-xs italic">
                            Awesome
                        </p>
                    </div>
                </div>
            </a>

            <!-- Card 2 -->
            <a
                class="rounded-box group relative flex flex-col gap-6 overflow-hidden p-4"
                href="/resources/videos/i-found-the-perfect-component-library-tzboo97urws"
                ><figure
                    class="rounded-btn grid aspect-video place-content-center overflow-hidden shadow-sm transition-all duration-300 group-hover:scale-[1.02] group-hover:shadow-lg"
                >
                    <img
                        loading="lazy"
                        src="https://i.ytimg.com/vi/tZbOO97urWs/hqdefault.jpg"
                        alt="I Found the Perfect Component Library"
                        class="w-full"
                    />
                </figure>
                <div class="flex items-center justify-between gap-4">
                    <div class="grow">
                        <h2 class="font-bold">
                            I Found the Perfect Component Library
                        </h2>
                        <p class="text-base-content/70 text-xs italic">
                            Awesome
                        </p>
                    </div>
                </div>
            </a>

            <!-- Card 3 -->
            <a
                class="rounded-box group relative flex flex-col gap-6 overflow-hidden p-4"
                href="/resources/videos/i-found-the-perfect-component-library-tzboo97urws"
                ><figure
                    class="rounded-btn grid aspect-video place-content-center overflow-hidden shadow-sm transition-all duration-300 group-hover:scale-[1.02] group-hover:shadow-lg"
                >
                    <img
                        loading="lazy"
                        src="https://i.ytimg.com/vi/tZbOO97urWs/hqdefault.jpg"
                        alt="I Found the Perfect Component Library"
                        class="w-full"
                    />
                </figure>
                <div class="flex items-center justify-between gap-4">
                    <div class="grow">
                        <h2 class="font-bold">
                            I Found the Perfect Component Library
                        </h2>
                        <p class="text-base-content/70 text-xs italic">
                            Awesome
                        </p>
                    </div>
                </div>
            </a>
        </div>
    </div>
</aside>
