---
import Base from "@layouts/Base.astro";
import { Image, getImage } from "astro:assets";
import dashie from '@assets/dashie/facepalm.png'
import kion from '@assets/kion/Annoyed.png'
import background from "@assets/background/living-room-day.png";
import Textbox from "@components/Textbox.astro";
import Link from "@components/Link.astro";

const optimizedBackgroundImage = await getImage({ src: background });
---

<Base>
    <main
        style={`background: url('${optimizedBackgroundImage.src}') no-repeat center center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover;`}
        class="absolute left-0 top-0 w-screen h-screen"
    >
        <Image src={dashie} alt="dashie" class="absolute left-10 h-[90%] w-auto bottom-0"/>
        <Image src={kion} alt="kion" class="absolute right-10 h-[60%] w-auto bottom-0"/>
        <div
            class="absolute left-[10%] w-4/5 bottom-5 h-52 z-10 border-white border-2 rounded-lg overflow-hidden"
        >
            <h3 class="absolute text-2xl text-white z-20 left-8 top-2">
                Dashie
            </h3>
            
            <Textbox text="OMG could you be any more dense Kion?" />
            <div
                class="bg-gradient-to-r from-cyan-700 to-blue-700 w-full h-full opacity-70"
            >
            </div>
            <Link href="/novel/p1">
                <button class="btn glass absolute right-4 bottom-4">Next</button
                >
            </Link>
        </div>
    </main>
    <script is:inline>
        anime
            .timeline({ loop: false })
            .add({
                targets: ".letter",
                scale: [4, 1],
                opacity: [0, 1],
                translateZ: 0,
                easing: "easeOutExpo",
                duration: 950,
                delay: (el, i) => 100 * i,
            })
            .add({
                targets: ".ml2",
                opacity: 0,
                duration: 1000,
                easing: "easeOutExpo",
                delay: 1000,
            });
    </script>
</Base>
