---
import Story from "@layouts/Story.astro";
import { Image } from "astro:assets";

import start from "@assets/scenes/T7_Start.jpeg";
import end from "@assets/scenes/T7_End.jpg";

import Dashie from "@components/Dashie.astro";
import Kion from "@components/Kion.astro";
---

<Story>
    <Image
        class="rounded-lg"
        src={start}
        alt="Kion falls into the Digital World"
    />
    <h1>Epilogue</h1>

    <p>
        Kion falls to the floor with a thud. The shock of the impact caught him
        by surprise but it wasn't as bad as he was expecting. Kion's monitor was
        showing static before it cut out and his compuer shut down. Kion
        immediately realized he was back in him room on the floor back in his
        apartment. Immediately he looked around, <Kion>Dashie!??</Kion>.
    </p>
    <p>
        There was no response. Kion began to panic and let around another call,
        <Kion>Dasshie!!?</Kion>. he cried looking around the apartment. He
        started to look under the bed, in the kitchen and in the bathroom. He
        started to out his clothes looking. And when back to the computer that
        was now completely unresponsive.
    </p>
    <p>
        <Kion>Dashie, Dashie!!!</Kion>, he cried shaking the monitor as his
        alarm went off for work. He looked at it in disbelief, it was only the
        next day since he had gotten off from work and it was time for his next
        shift. Kion was still distrught but he wasn't exactly sure what was
        going on so he got in the shower, changed into his clothes and went to
        work.
    </p>
    <p>
        When Kion got to work his expression was extremely tired. "Are you okay
        Kion?", his manager asks. <Kion>
            Yeah, I should be able to make it.
        </Kion> Kion replies as he lets himself in the backroom to change. His manager
        hands him a Kitsune Coffee. "Try not to push yourself too far beyond your
        limit kid", he says. "If you pass out on me, I'm going to send you home."
        Kion nods and replies, <Kion>I should okay</Kion>. He drinks the coffee
        and perks up a bit as he punches into his shift.
    </p>
    <p>
        The shift was fairly busy, so Kion and his coworkers didn't get a chance
        to small talk. As Kion was getting off his shift, his coworker mentioned
        that Kion looks tired and if he was okay. Kion considdered explaining
        what happens to him, but he tried to ply it off by saying, <Kion>
            I guess i didn't sleep well last night
        </Kion>. This time when Kion gets asked if he wants to play Legue of
        Waifu's he happily accepts.
    </p>
    <p>
        For about two weeks Kion goes back to his normal routine of going to
        work and playing games and anime in his free time. One night Kion got
        home, and coming out of the shower he noticed a notebook sitting on his
        desk next to the computer. Kion was surprised, <Kion>
            Has that always been here?
        </Kion>, he thinks as he walks over to it.
    </p>
    <p>
        In this notebook was a record of all of his adventures in the digital
        world, Brickout, Snake, Tetris, Invaders, Astroids, Flappy. Kion flipped
        through each one of the pages suddenly remembering everything that
        happened to him before. As Kion reached the last page, he sees a message
        from Dashie, "put your heart into it and you can do anything -Dashie",
        signed with a bunny paw.
    </p>
    <p>
        Kion couldn't hold back his tears, droplets fell from his face and made
        small circles on the paper. <Kion>This is where you were</Kion>. Kion
        played back the speach that Dashie gave him when the aliens invaded
        about thinking with his heart. The words range different as he finally
        understood their meaning.
    </p>
    <p>
        Kion wasn't given much time to comprehend what was going on, as Dashie
        appeared to come out of the computer monitor,
        <Dashie>
            You finally figured it out, there's still more to do weeb, let's go!
        </Dashie>, she says reaching out her hand. Kion replies, <Kion>
            Dashie!!!
        </Kion> as he takes he hand and gets pulled back into the computer.
    </p>

    <Image
        class="rounded-lg"
        src={end}
        alt="Kion falls into the Digital World"
    />
</Story>
